body{
  background-color: #95affc;
  background-image:url("cosmos.jpg");
}
h2{
  margin: inherit;
  padding-left: 20px;
}
p{
  margin: inherit;
}
ul.header{
  display: flex;
  padding: 0;
  justify-content: center;
}
a.link {
  text-decoration:overline underline ;
  color: #4dda30;
}
li{
  list-style: none;
  padding: 10px;
}
div.menu{
  margin-top: 100px;
  width: 100%;
  height: 60px;
  opacity: 0.8;
  background-color: #0a0906;
  color: #12be1d;
  font-family: fantasy ;
  font-size: 24px;
}
div.content{
  margin: 0 200px;
  padding:  20px;
  border: 1px solid #000;
  background-color: white;
}
